@model IEnumerable<EShop.Models.Item>

<!DOCTYPE html>

@helper Display(string category)
{
    <div class="row" style="background: #b5ccfb">
        <div class="col-lg-2">
            Название
        </div>
        <div class="col-lg-2">
            Цена
        </div>
        <div class="col-lg-2">
            Описание
        </div>
        <div class="col-lg-2">
            Изображение
        </div>
    </div>
foreach (var item in Model)
{
    if (item.Category.ToString() == category)
    {
            <div class="row" style="border: 1px solid #333; border-bottom: none;">
                <div class="col-lg-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-lg-2">
                    @Html.DisplayFor(modelItem => item.Price)
                </div>
                <div class="col-lg-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-lg-2">
                    @{
                        string URL = item.Image;
                    }
                    <img src=@URL style="display: block; height: 200px;" />
                </div>
                <div class="col-lg-2">
                    @Html.ActionLink("В корзину", "AddToCart", "Order", new { id = item.ItemID }, new { @class = "btn btn-success" })
                </div>
                <div class="col-lg-2">
                    @if (User.IsInRole("Administrators"))
                    {
                        @Html.ActionLink("Удалить", "Delete", "Items", new { id = item.ItemID }, new { @class = "btn btn-success" })
                    }
                </div>

                <div class="col-lg-2">
                    @if (User.IsInRole("Administrators"))
                    {
                        @Html.ActionLink("Изменить", "Edit", "Items", new { id = item.ItemID }, new { @class = "btn btn-success" })
                    }
                </div>
            </div>
        }
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
</head>
<body>
    <h2>Еда:</h2>
    @Display("Food");
    <h2>Напитки:</h2>
    @Display("Drinks");
    <h2>Мебель:</h2>
    @Display("Furniture");
</body>
</html>
