@model IEnumerable<EShop.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Товары со скидкой!</h2>

<div class="row" style="background: #b5ccfb">
    <div class="col-lg-2">
        Название
    </div>
    <div class="col-lg-2">
        Цена
    </div>
    <div class="col-lg-2">
        Описание
    </div>
    <div class="col-lg-2">
        Изображение
    </div>
</div>

@foreach (var item in Model)
{
    if (item.ForSale)
    {
        <div class="row" style="border: 1px solid #333; border-bottom: none;">
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            @{ 
                string URL = item.Image;
            }
            <img src=@URL style="display: block; height: 200px;"/>
            <div class="col-lg-2">
                @Html.ActionLink("В корзину", "AddToCart", "Order", new { id = item.ItemID }, new { @class = "btn btn-success" })
            </div>
                @if (User.IsInRole("Administrators"))
                {
                    <div class="col-lg-2">
                        @Html.ActionLink("Удалить", "Delete", "Items", new { id = item.ItemID }, new { @class = "btn btn-success" })
                    </div>
                }

                @if (User.IsInRole("Administrators"))
                {
                    <div class="col-lg-2">
                        @Html.ActionLink("Изменить", "Edit", "Items", new { id = item.ItemID }, new { @class = "btn btn-success" })
                    </div>
                }
            </div>
         }
}
